<form [formGroup]="form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'ADDUSERPG.FIRST_NAME' | translate}} " formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'ADDUSERPG.LAST_NAME' | translate}} " formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'ADDUSERPG.EMAIL_ADDRESS' | translate}} " type="email" formControlName="email"
            required>
    </mat-form-field>
</form>